<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjektBD.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/xe;TNS_ADMIN=C:\Users\pawel\Oracle\network\admin;PASSWORD=admin;PERSIST SECURITY INFO=True;USER ID=SYSTEM"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>